<%= form_with(model: iletisim, local: true) do |form| %>
  <% if iletisim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iletisim.errors.count, "error") %> prohibited this iletisim from being saved:</h2>

      <ul>
      <% iletisim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aciklama %>
    <%= form.text_area :aciklama %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
